<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jetpack_java" >

    <application>

        <activity android:name=".sample_01_lifecycles.ui.LifecycleDetailActivity" />
        <activity android:name=".sample_01_lifecycles.ui.LifecycleLocationActivity" />
    </application>
</manifest>
