<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flywith24.jetpack_kotlin">

    <application>
        <activity android:name="com.flywith24.jetpack_kotlin.sample_01_lifecycles.ui.LifecycleLocationActivity" />
        <activity android:name="com.flywith24.jetpack_kotlin.sample_01_lifecycles.ui.LifecycleEditorActivity" />
        <activity android:name="com.flywith24.jetpack_kotlin.sample_02_livedata.ui.LiveDataLocationActivity" />
        <activity android:name="com.flywith24.jetpack_kotlin.sample_02_livedata.ui.LiveDataEditorActivity" />
        <activity android:name="com.flywith24.jetpack_kotlin.sample_03_viewmodel.ui.ViewModelListActivity" />
        <activity android:name="com.flywith24.jetpack_kotlin.sample_04_databinding.ui.DataBindingEditorActivity" />
        <activity android:name="com.flywith24.jetpack_kotlin.sample_04_databinding.ui.DataBindingDetailActivity" />
        <activity android:name="com.flywith24.jetpack_kotlin.sample_04_databinding.ui.DataBindingListActivity" />
        <activity android:name="com.flywith24.jetpack_kotlin.sample_04_databinding.ui.DataBindingLocationActivity" />

    </application>
</manifest>
